
.home .content {
  margin: 0;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    min-height: 66vh;
  }
}

.box-type-image {
  background: #eee;
  height: calc(100vh - 90px);
}


#content-boxes {
  margin-bottom: 0;
  //color: #fff;

  .box-type-image {
    @media (max-width: 767px) {
      height: 65vh !important;
    }
  }

  .box {
    position: relative;
    display: flex;
    min-height: 50vh;
    width: 100vw;
    background-size: cover !important;
    background-position: center !important;
    //margin-bottom: 0.5em;

    @media (max-width: 767px) {

      .box-image {
        position: relative;
        display: block;
        height: 40vh;
        width: 100%;
        z-index: 30;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        + .box-inner {
          margin: 0;
          min-width: auto;
          width: 90vw;
          padding-left: 5vw;
          padding-right: 5vw;

          .overlay {
            opacity: 1;
          }
        }
      }
    }

    .box-inner {
      width: 50%;
    }

    .box-wide {
      width: 80%;
      align-self: center;
      justify-self: center;
      text-align: center;
      padding: 5vh 10%;

      @media (max-width: 767px) {
        width: 90%;
        margin: 2.5vw;
        padding: 5vh 2.5vw;
        text-align: left;
      }
    }

    .page-links {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 1024px;
      margin: 0 auto;
      padding-bottom: 3em;

      > .page-link {
        position: relative;
        display: flex;
        height: 25vw;
        width: 25vw;
        max-width: 240px;
        max-height: 240px;
        margin: 12px;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &:nth-child(3n) {
          flex-basis: 100%;
        }

        .page-thumbnail {
          position: absolute;
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center center;
          transition: all 250ms ease-in;
        }

        * {
          cursor: pointer;
        }

        h4 {
          position: relative;
          color: #fff;
          margin: 0;
          opacity: 0;
          transition: opacity 250ms;
          z-index: 4;
        }

        &:after {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: none;
          transition: background 500ms;
          z-index: 2;
        }

        &:hover {
          h4 {
            opacity: 1 !important;
          }
          > div {
           transform: scale(1.125)
          }

          &:after {
            background: rgba(22, 120, 60, 0.4);
          }
        }

        @media (max-width: 767px) {

          max-width: 300px;
          max-height: 300px;

          h4 {
            opacity: 1 !important;
          }
          &:after {
            background: rgba(22, 120, 60, 0.4);
          }
        }
      }

      @media (max-width: 767px) {
        flex-direction: column;

        .page-link {
          flex-basis: auto !important;
          width: 75vw;
          height: 75vw;
          margin: 1em auto;
        }
      }
    }
    

    .box-inner {
      position: relative;
      width: 50%;
      min-width: 300px;
      margin: 5em 0;
      padding: 2em 5vh;
      //color: #fff;
      z-index: 10;
      background: transparent;


      h2 {
        margin-bottom: 0;
      }

      p, a {
        font-family: 'Nunito';
        font-weight: 600;
        font-size: 20px;
        line-height: 1.15em;
      }

      p + h3 {
        font-size: 4em;
        line-height: 0.75em;
        margin: 0.5em 0;
        color: $orange;
      }

      .overlay {
        background-color: inherit;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.8;
        filter: contrast(3.5) saturate(2.0) grayscale(0.4);
        z-index: -1;
      }
    }
  }
}

#video {
  background: #D1D3D4;
}

#about {
  background: #F1931C;
}

#signup {
  background: #262869;
}

