.box-wide {
  h2 {
    span.highlighted {
      //background: yellow;
    }
  }
}

#content-boxes {
  #we-are-weavers {
    min-height: 100vh;
    color: #fff;
    overflow: hidden;

    &.has-video {
      background: none !important;
    }

    .background-video-container {
      position: absolute;
      min-height: 100vh;
      min-width: 100%;
      z-index: 0;
    }

    video {
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 100%;
      z-index: 0;
      transform: translateX(-50%) translateY(-44vh);

      @media (max-width: 767px) {
        min-height: 66vh;
        max-height: 66vh;
        transform: translateX(-55%) translateY(-64%);
      }
    }

    .box-wide {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 40%;
      min-height: 75vh;
      margin-left: auto;
      z-index: 2;

      > * {
       display: flex;
      }

      h2 {
        //font-family: marydale, sans-serif !important;
        font-weight: 700;
        font-size: 2.5em;
        font-style: normal;
        color: #fff;
        margin-top: auto;
        margin-bottom: 16px;
        align-self: flex-end;
      }

      p {
       font-family: 'Nunito', sans-serif;
       font-size: 1.125em;
       text-align: right;
       font-weight: 600;
       line-height: 1.25em;
      }

      @media (max-width: 767px) {
       width: 90%;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 50%;
      width: 100%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      z-index: 1;

      @media (max-width: 767px) {
        top: 40%;
        height: 60%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

      }
    }
  }

  #we-can-heal {
    .box-wide {
      margin-top: 5vh;
      margin-bottom: 5vh;

      > div:last-child {
        p {
          text-align: right;
        }
      }

      h2 {
        margin-top: 0;
        text-align: left;

        .highlighted {
          //font-family: marydale, sans-serif;
          //font-weight: 700;
          //font-style: normal;
        }
      }

      h5 {
        margin-top: 0;
      }

      p {
        text-align: left;
        font-size: 1.125em;
      }

      > p:last-of-type {
        break-before: column;
        margin-bottom: 40px;
      }

      iframe {
        width: 40vw !important;
        height: 40vh !important;
      }

      @media (max-width: 767px) {
        column-count: 1;

        > p:last-of-type {
          break-before: avoid;
          margin-bottom: 0;
        }

        iframe {
          width: 100vw !important;
          height: 40vh !important;
        }

      }

    }
  }

  #meet-the-weavers {
    h2 {
      .highlighted {
        //font-family: marydale, sans-serif;
        //font-weight: 500;
        //font-size: 1.5em;
      }
    }
    .weave-button {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      padding: 0;
      line-height: 1em;
      border-radius: 50%;
      background: $green;

      span {
        flex-direction: column;

        &:first-of-type {
          margin-top: 12px;
          margin-bottom: 8px;
          font-family: 'AvenirNext-Bold';
          font-size: 12px;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }

      svg {
        overflow: hidden;
        height: 16px;
        width: 16px;
        fill: #fff;
      }
    }
  }

  #be-a-weaver {
    .box-wide {
      margin-bottom: 4vh;
      text-align: left;
      z-index: 2;
      color: #fff;
      max-width: 400px;
    }

    h2 {
      color: #fff;

      .highlighted {
        display: inilne-block;
        //font-family: marydale, sans-serif;
        //font-weight: 500;
        //font-size: 1.5em;

        &:before,
        &:after {
          content: "";
          display: block;
          padding: 2px;
        }

        &:before {
          padding: 2px;
        }
      }
    }

    p {
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1.25em !important;
      margin-bottom: 2em;
    }

    .weave-button {
      background: $orange;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      //background: rgba(0, 0, 0, 0.5);
      background: radial-gradient(ellipse at left, transparent, rgba(0, 0, 0, 0.5)),
      radial-gradient(ellipse at top, transparent, rgba(0, 0, 0, 0.5));
      z-index: 1
    }
  }

  #newsletter-signup {
    display: block;
    min-height: 50vh;

    .box-wide {
      width: 80%;
      margin: 10vh auto 0;
      padding: 0;
      color: #fff;
      font-size: 1.75em;
      font-weight: 400;
      line-height: 1em;
      //text-align: left;

      @media (max-width: 767px) {
        width: 90%;

        > div {
          width: 90%;
          margin: 0 auto;
        }
      }

      .highlighted {
        font-weight: 700;
      }
    }

    iframe {
      height: 50vh;

      @media (max-width: 767px) {
        height: 92vh;
      }
    }
  }
}