.page-template-donate,
.weaver-template-default,
.team-template-default,
.page-template-default,
.page-template-page-about,
.page-template-page-join,
.page-template-page-stories {

  .page_content_wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  .content {
    background: #262869;
  }


  .content_wrap {
    width: 100% !important;
  }

  #hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;

    > * {
      position: relative;
      z-index: 2;
    }

    h1 {
      color: #fff;
      margin-bottom: 15vh;
      max-width: 90vw;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 50%;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 99%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
      z-index: 1;
    }
  }

  article,
  .nav-links-single,
  .related_wrap,
  #stories,
  #staff
  .weave-stories {
    position: relative;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 5%;
    background: #fff;

    @media (max-width: 767px) {
      //width: 90%;
      //padding: 0;
      //padding: 1em 0 !important;
      //width: 90%;
    }
  }

  .page-template-donate {
    article,
    .nav-links-single,
    .related_wrap,
    #stories,
    #staff
    .weave-stories {
      position: relative;
      width: 80%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 5%;
      background: #fff;

      @media (max-width: 767px) {
        //width: 90%;
        //padding: 0;
        //padding: 1em 0 !important;
        //width: 90%;
      }
    }
  }

  article {
    margin-top: -10vh;
    font-size: 18px;

    &.post_item_single {
      padding-bottom: 1em;
    }

    .post_content iframe {
      max-width: 80%;
      margin: 0 10%;

      @media (max-width: 767px) {
        //max-height: 180px;
      }
    }
  }
}

.weaver-template-default,
.team-template-default,
.page-template-default,
.page-template-page-about,
.page-template-page-join,
.page-template-page-stories {

  article {
    min-height: 33vh;
    margin-top: -10vh;
    font-size: 18px;

    &.post_item_single {
      min-height: 25vh;
      padding-bottom: 1em;
    }

    .post_content iframe {
      max-width: 80%;
      margin: 0 10%;
      max-height: 50vh;

      @media (max-width: 767px) {
        max-height: 180px;
      }
    }
  }

  .nav-links-single {
    padding-top: 1em;

    .nav-links {
      margin-top: 0;
    }
  }

  #contact-form {
    background: $purple;
    > div {
      width: 80%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 5%;
    }
  }



  form .form-row {
    display: flex;
    width: 100%;

    p, label {
      flex: 1;

    }

    + div {
      text-align: center;
    }

    label {
      padding: 0 0.5em;
    }

    span.label {
      display: none;
    }

    @media (max-width: 767px) {
      margin-top: 3em;
      flex-direction: column;

      label {
        padding: 0;
        line-height: 0;

        input {
          margin: 0 !important;
        }
      }
    }
  }

  input {
    font-family: 'Nunito';
    //color: #fff;
  }

  span.your-message {
    width: 100%;
    padding: 0 0.5em;

    textarea {

    }
  }

  input[type="text"],
  input[type="email"] {
    padding: 8px;
    font-size: 16px;
    background: #041C33;
  }

  input[type="submit"] {
    margin-top: 0;
    background-color: $orange;
    font-size: 18px;
    font-weight: 700;

    @media (max-width: 767px) {
      margin-top: 1.25em;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse !important;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

  }

  #tlaform {
    width: 80%;
    margin: 10vh auto 0;
    //background: $purple;

    p {
      width: 90%;
      max-width: 1024px;
      margin: 10vh auto 1em;
      color: #fff;
      font-size: 1.75em;
      text-align: center;

      .highlighted {
        font-weight: 700;
      }
    }

    iframe {
      height: 50vh;
      @media (max-width: 700px) {
        height: 70vh;
      }
    }
  }

  @media (max-width: 640px) {
    #tlaform * {
      text-align: left !important;
    }
  }
}

body:not(.home) .content {
  background-image: url('./img/signup_bg.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom center;
}

#signup-copy {
  max-width: 960px;
  margin: 0 auto;

  h2 {
    text-align: center;

    strong {
      color: #fff;
    }
  }
  p {
    width: 100% !important;
    margin: 0 0 1em !important;
    text-align: left !important;
  }
}

.page-template-page-join,
.page-template-page-stories,
.page-template-page-about {
  article {
    min-height: 120px;
    padding-bottom: 0;
  }

  .weave-boxes,
  #staff,
  #stories {
    padding-top: 0;

    h2 {
      display: block;
      text-align: left;
    }
  }
}
.page-template-page-join,
.page-template-page-about {
  .page-link{
    transform: none;
    &:after,
    &:hover:after {
      background: none !important;
    }
  }

  .page-links > .page-link {
    flex-direction: column;
    height: 40vh;
    max-height: 320px;

    .team-wrapper {
      position: relative;
      height: 80%;
      width: 100%;
      overflow: hidden !important;
      transition: 250ms all;
    }

    h4 {
      flex: 1;
      width: 100%;
      background: #fff;
      color: #000;
      opacity: 1 !important;

      &:before {
        content: "";
        display: block;
        height: 12px;
        background: #fff;
      }
    }

    //&:hover {
    //  .page-thumbnail {
    //    transform: none;
    //
    //  }
    //}
  }

  p.quote {
    min-height: 2em;
  }

}

.team-template-default {
  #hero {
    background-position: top center;
    height: 75vh;
    max-width: 1280px;
    margin: 0 auto;

    h1 {
      display: none;
    }

  }

  .bio {
    min-height: auto;
    padding-bottom: 10vh;

    @media (min-width: 1280px) {
      margin-top: -4vh;
    }

    h1 {
      margin-top: -1em;
      padding-top: 1em;
      margin-bottom: 0.25em;
    }

    span {
      display: block;
      margin-bottom: 1em;

      &.title {
        font-weight: 700;
      }

      &.quote {
        font-style: italic;
      }
    }

    + article {
      padding-top: 1.5em;
      min-height: 15vh;
    }
  }
}

.error404 {
  .content {
    background-image: none !important;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

ul.help-us-content {
  li {
    a {
      color: $purple
    }
  }
}