.weaver-template-default,
.page-template-default {

  .page_content_wrap {
    padding-top: 0;
  }

  .content_wrap {
    width: 100% !important;
  }

  #hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;

    > * {
      position: relative;
      z-index: 2;
    }

    h1 {
      color: #fff;
      margin-bottom: 15vh;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 50%;
      width: 100%;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      z-index: 1;
    }
  }

  article,
  .nav-links-single,
  .related_wrap {
    position: relative;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 5%;
    background: #fff;
  }

  article {
    min-height: 50vh;
    margin-top: -10vh;
  }

  #contact-form {
    background: $purple;
    > div {
      width: 80%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 5%;
    }
  }



  form .form-row {
    display: flex;
    width: 100%;

    p, label {
      flex: 1;

    }

    label {
      padding: 0 0.5em;
    }

    span.label {
      display: none;
    }

    @media (max-width: 767px) {
      margin-top: 3em;
      flex-direction: column;

      label {
        padding: 0;
        line-height: 0;

        input {
          margin: 0 !important;
        }
      }
    }
  }

  input {
    font-family: 'Nunito';
    //color: #fff;
  }

  span.your-message {
    width: 100%;
    text-area {
      width: 100%;
    }
  }

  input[type="text"],
  input[type="email"] {
    padding: 8px;
    font-size: 16px;
    background: #041C33;
  }

  input[type="submit"] {
    margin-top: 0;
    background-color: $orange;
    font-size: 18px;
    font-weight: 700;

    @media (max-width: 767px) {
      margin-top: 1.25em;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse !important;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

  }

}