footer#footer {
  min-height: 33vh;
  background: $dkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    text-align: center;
  }

  #logo-rev {
    width: 80%;
    height: auto;
    max-width: 330px;
  }

  p {
    color: #fff;
  }
}

.contact-links {
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 8px;

    background-size: cover !important;
    background-position: center center;

    transition: 250ms all;

    &.facebook-btn {
      background: url(./img/facebook.png);
    }
    &.twitter-btn {
      background: url(./img/twitter.png);
    }
    &.email-btn {
      background: url(./img/email.png);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

#rights {
  padding: 16px 8px;
  color: #fff;
  background: #000;
  text-align: center;
}